#whole {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

#header {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    margin-bottom: 40px;
}

.airbnb_icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35px;
    width: 35px;
    margin-top: 30px;
    margin-left: 30px;
}

.header_text_father {
    display: flex;
    justify-content: space-between;
    width: 23%;
    margin-top: -28px;
    margin-left: 75%;
    color: white;
    font-family: 'heeboRegular', sans-serif;
}

.header_box {
    background-color: white;
    width: 441px;
    height: 475px;
    margin-left: 200px;
    margin-top: 100px;
    box-shadow: 5px 5px 20px #c4c2c2;
}

.header_title {
    padding: 34px 34px 20px 34px;
    width:377px;
    height: 72px;
    font-size: 30px;
    font-family: 'heebo700', sans-serif;
    color: #484848;
}

.header_fill {
    padding: 0px 34px 0px 34px;
    margin-top: -20px;
}

.header_fill3 {
    padding: 0px 34px 0px 34px;
    margin-top: -20px;
}

input[type="onde"] {
width:360px;
height: 46px;
margin-top: -15px;
}

.checkin {
    color: #484848;
    font-family: 'heebo700', sans-serif;
}

input[type="checkin"] {
width:180px;
height: 43px;
margin-top: -15px;
}

.checkout {
    color: #484848;
    font-family: 'heebo700', sans-serif;
}

input[type="checkout"] {
width:180px;
height: 43px;
margin-top: -15px;
}

input[type="hospedes"] {
width:360px;
height: 43px;
margin-top: -15px;
}

.header_fill2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 34px 0px 34px;
}

#bottom_page {
    margin: auto;
    width: 68%;
}

#explore {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    width:70%;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 50px;
}

.explore_title {
font-size:24px;
color: #484848;
font-family: 'heebo700', sans-serif;
padding-bottom: 20px;
}

.explore_box {
margin: 0 8px;
width: 244px;
height: 72px;
box-shadow: 0px 0px 10px #c4c2c2;
border-color: #c4c2c2;
display: flex;
justify-content: flex-start;
}

.explore_image {
background-size: contain;
background-repeat: no-repeat;
background-size: cover;
width: 96px;
height: 72px;
}

.explore_text {
font-size: 18px;
margin-top: 10px;
padding: 14px 16px 10px;
color: #484848;
font-family: 'heebo700', sans-serif;
}

#apresentamos {
    padding-top: 0px;
}

.apresentamos_imagem {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1065px;
    height: 300px;
}

#recomendado {
    padding-top: 60px;
    
}

.recomendado_father {
    display:flex;
    justify-content: space-between;
}

.recomendado_child {
    background-size: contain;
    background-repeat: no-repeat;
    width: 193px;
    height: 242px;
}

.recomendacoes_father {
    display: flex;
    justify-content: space-between;
}

.recomendacoes_child {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 508px;
    height: 317px;
}

.pesquisar {
font-size: 17px;
border: 1px solid #ff5a5f;
border-radius: 6%;
width: 125px;
height: 50px;
text-align: center;
line-height: 50px;
color: white;
background-color: #ff5a5f;
margin-left: 270px;
margin-top: 30px;
font-family: 'heebo700', sans-serif;
}

.apresentamos_descricao {
font-size: 18px;
color: #484848;
font-family: 'heebo300', sans-serif;
padding-bottom: 15px;
}

.recomendacoes_child_des1 {
padding-top:330px;
color: #86381a;
}

.recomendacoes_child_des2 {
    color: #484848;
    font-family: 'heebo300', sans-serif;
}

.recomendacoes_child_des3 {
    padding-top:330px;
    color: #495777;
    }

.recomendado1 {
padding-top: 150px;
text-align: center;
color: white;
font-size: 18px;
font-family: 'heeboRegular', sans-serif;
}

.recomendado2 {
margin: auto;
width: 80%;
color: white;
text-align: center;
font-size: 14px;
font-family: 'heeboRegular', sans-serif;
}

.explorar {
font-size: 14px;
border: 1px solid white;
border-radius: 4%;
width: 185px;
height: 50px;
text-align: center;
line-height: 45px;
color: #484848;
font-family: 'heebo300', sans-serif;
background-color: white;
margin-left: 40%;
}

.apresentamos_2 {
    display: flex;
    justify-content: flex-start;
}

.airbnb_icon2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-top: 100px;
    margin-left: 420px;
    margin-bottom: 40px;
}

.plus {
    font-size: 70px;
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Pacifico', cursive;
    color: #484848;
}

p {
color: #484848;
font-family: 'heebo700', sans-serif;
}

@font-face {
    font-family: heebo700;
    src: url(Heebo_700.ttf);
}

@font-face {
    font-family: heebo300;
    src: url(Heebo_300.ttf);
}

@font-face {
    font-family: heeboRegular;
    src: url(Heebo_regular.ttf);
}