
@font-face {
    font-family:"AbrilFatFace"
    src: url ("AbrilFatface-Regular.ttf")
}

h1 {
    font-family: "AbrilFatFace";
    font-weight: bold;
    font-size: 40px;
}

#whole {
    margin:auto;
    width: 70%;
}

#wrapper {
    margin:auto;
    width: 81%;
}

#bottom_wrapper {
    margin: auto;
    width: 70%;
}

#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
}

.member_top {
    color: grey;
}

#featured {
    
    height: 400px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: grey;
}

.featured1 {
    grid-column: 1;
    grid-row:1 / 4;
    background-image: url("Capture1.PNG");
    background-size: contain;
    background-repeat: no-repeat;
}

.featured_article_title1 {
    margin-top: 150px;
    margin-left: 100px;
    font-size: 22px;
}

.featured_article_desciption1 {
    margin-top: -25px;
    margin-left: 100px;
    color: grey;
}

.featured_article_author1 {
    margin-left: 100px;
}

.featured_article_date {
    margin-left: 100px;
    color: grey;
}

.featured2 {
    background-image: url("Capture3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 110px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.featured2_title {
    margin-left: 140px;
    font-size: 19px;
    margin-top: 0px;
}

.featured2_author {
    margin-left: 140px;
}

.featured2_date {
    color: grey;
    margin-left: 140px;
    margin-top: -10px;
}

.featured3 {
    background-image: url("Capture2.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 110px;
}

.featured4 {
    background-image: url("1_vzhHEwJHk-vLiymL2CCcaA.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 110px;
}

.featured5 {
    grid-column:3;
    grid-row: 1/4;
    background-image: url("Capture4.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    margin-left: 50px;
}

.featured5_title {
    margin-top: 180px;
    font-size: 19px;
    margin-right: 70px;
}

.featured5_description {
    margin-top: -10px;
    color: grey;
}

.featured5_author {
    margin-top: 30px;
}

.featured5_date {
    color: grey;
    margin-top: 10pxpx;
}

.featured_8 {
    color: #42bc89;
    font-size: 15px;
    text-align: right;
    padding: 0px;
    padding-right: 100px;
}

#bottom_wrapper {
    background-color: #e2f0ff;
}

.search {
    height: 60px;
    
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-size: 17px;
    color: #30a073; 
}

.get_b {
        padding:7px;width:30px;
        font-size:13px;color:gray;
        background-image:url('http://i47.tinypic.com/r02vbq.png');
        background-repeat:no-repeat;
        outline:0;
        line-height: 35px;
}

.get_i {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 35px;
}

.get_s {
    border: 1px #30a073 solid;
    border-radius: 7%;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.headerChild {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    font-size: 15px;
    color: grey;
    height: 50px;
}

#welcome {
    height: 330px;
    margin-bottom: 45px;
    background-image: url("1_TckFXfkU_bg0aADPYR_t7Q.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.welcome_b {
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
    margin-left: 50px;
}

.welcome3 {
font-size: 15px;
border: 1px black solid;
border-radius: 6%;
width: 100px;
height: 35px;
text-align: center;
line-height: 35px;
color: white;
background-color: black;
}

.welcome4 {
margin-left: 10px;
font-size: 15px;
border: 1px black solid;
border-radius: 6%;
width: 100px;
height: 35px;
text-align: center;
line-height: 35px;
color: #7c7c7c;
}

#articleList {
    margin: left;
    width: 63%;
}

.memberArticle {
    margin: left;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.featured_bottom {
    display:flex;
    justify-content:space-around;
}

.bottom_article {
    height: 350px;
    width: 32%;
}

#bottom_page {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
}

.welcome1 {
    margin: 40px;
    padding-top: 50px;
    margin: left;
    width: 40%;
    font-size: 42px;
}

.welcome2 {
    margin: -30px 40px;
    margin: left;
    width: 45%;
    font-size:19px;
}

#popular {
    margin: right;
    width: 30%;
    height: 500px;
    position: sticky;
    top: 40px;
}

.popular_title {
    font-size:23px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.p_articles {
    height: 130px;
    margin-left: 80px;
    margin-top: 10px;
    display: flex;
}

.p_title {
    margin-top: 0px;
    font-size: 19px;
}

.p_date {
    color: grey;
}

.enumeration {
    margin-left: -70px;
    font-size:30px;
    color: grey;
    margin: left;
    width: 20%;
}

.popular_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #d8d8d8;
    color: grey;
}

.popular_footer2 {
    display: flex;
    justify-content: space-around;
    padding-right: 130px;
    margin-top: -20px;
    color: grey;
}

.popular_articles {
    margin-bottom: 50px;
    border-top: 1px solid #d8d8d8;
    padding-top:10px;
}

.a_title {
    font-size:23px;
    color: black;
    margin-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
}

.b_title {
    font-size: 16px;
    margin-bottom:25px;
    color: grey;
}

.memberarticle_title {
    font-size: 24px;
    margin-right: 190px;
}

.memberarticle_description {
    color:grey;
    margin-top: 10px;
    margin-right: 190px;
}

.memberarticle_author {
    margin-top: 15px;
}

.memberarticle_date {
    color: grey;
}

.member {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 160px;
    color: black;
}

.bottom_title {
    margin-top: 30px;
}

.featured_title {
    margin-bottom: 10px;
}

.featured_image {
    background-size: contain;
    background-repeat: no-repeat;
    height: 290px;
    width: 200px;
    border-radius: 5px 5px;
}

.featured_count {
    color: grey;
}

h1 {
    text-align: center;
}

#divider {
    border-bottom: 1px solid #d8d8d8;
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.more {
    text-align: right;
    color: grey;
    font-size: 15px;
    justify-content: flex-end;
    position: relative;
    bottom: 19px;
}

more_division {
    display:flex;
    justify-content: space-between;
}