* {
    margin: 0;
    padding: 0;
}

/*body{
background-image: url('instagram-background.jpg');
background-size: 250%;
background-repeat: no-repeat;
}*/

#logo {
    background-image: url("app-icon2.png");
    background-repeat: contain;
    height: 4em;
    width: 4em;
    background-size: 100% 100%;
    margin: 15px;
    margin-bottom: 70px;
}

#welcome {
    margin: auto;
    width: 400px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 25px;
    background-image: url('instagram-background.jpg');
    background-size: 200%;
    background-repeat: no-repeat;
}

#welcome h2 {
    color: white;
}


#form {
    margin: 20px;
}

#checkboxes {
    margin-left: 20px;
    margin-bottom: 30px;
}

#button {
    margin-top: 30px;
    padding: 4px;
}

input#email {
    width: 350px;
}

input#password {
    width: 350px;
}

input#name {
    width: 350px;
}

input#username {
    width: 350px;
}

#posts {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    max-width: 100%;
    flex-flow: row wrap;
    padding: 20px;
}

#postImage {
    border-radius: 22px;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(184, 184, 184);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px;

    flex-direction: row;
}

.description {
    size: 18px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#profileInfo {
    display: flex;
    justify-content: flex-start;
}

.name,
.followers,
.following {
    padding-top: 20px;
    padding-right: 20px;
}