<div id="userArea">
    <input type="text" id="email">
    <button id="functionalities">Search</button>
    <button id="functionalities">My profile</button>
    <button id="functionalities">Follow this person</button>
    <button id="functionalities">Log out</button><br>
    Photo URL<input type="text" id="photo"><br>
    <button id="publish">Publish</button><br>
    Description<textarea name="" id="description" cols="30" rows="10"></textarea>
</div>