
/* Core Styles */



h1 {
    font-family: "AbrilFatFace";
    font-weight: bold;
    font-size: 40px;
}

#whole {
    margin:auto;
    width: 1000px;
    
}

#wrapper {
    margin:auto;
    width: 1204px;
}

#bottom_wrapper {
    margin: auto;
    width: 1050px;
    background-color: #e2f0ff;
}

#header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
}

.member_top {
    color: grey;
}

#featured {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    margin: center;
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: grey;
    grid-gap: 20px;
}

.featured1 {
    grid-column: 1;
    grid-row:1 / 4;
}

.featured1_img {
    background-image: url("Capture1.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
}

.featured_article_title1 {
    
    margin-left: 100px;
    font-size: 20px;
}

.featured_article_desciption1 {
    margin-top: -25px;
    margin-left: 100px;
    color: grey;
    font-size: 14px;
}

.featured_article_author1 {
    margin-left: 100px;
}

.featured_article_date {
    margin-left: 100px;
    color: grey;
}

.featured2,
.featured3,
.featured4 {
    display: flex;
    
}

.featured2_img {
    
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.featured2_text {
    padding-left: 20px;
    width: 250px;
}

.featured2_title {
    font-size: 17px;
    margin-top: 0px;
    text-overflow: ellipsis;
}

.featured2_author {
    font-size: 14px;
}

.featured2_date {
    color: grey;
}

.featured5 {
    grid-column:3;
    grid-row: 1/4;
}

.featured5_img {
    background-image: url("Capture4.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}

.featured5_text {
    width: 300px;
}

.featured5_title {
    font-size: 19px;
}

.featured5_description {
    margin-top: -10px;
    color: grey;
}

.featured5_author {
    margin-top: 30px;
}

.featured5_date {
    color: grey;
    margin-top: 10pxpx;
}

.featured_8 {
    color: #42bc89;
    font-size: 15px;
    text-align: right;
    padding: 0px;
    padding-right: 100px;
}


.search {
    height: 60px;
    
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-size: 17px;
    color: #30a073; 
}

.get_b {
        padding:7px;width:30px;
        font-size:13px;color:gray;
        background-image:url('http://i47.tinypic.com/r02vbq.png');
        background-repeat:no-repeat;
        outline:0;
        line-height: 35px;
}

.get_i {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 35px;
}

.get_s {
    border: 1px #30a073 solid;
    border-radius: 7%;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    justify-content: flex-end;
}

.headerChild {
    display: flex;
    align-content: center;
    font-size: 12px;
    color: grey;
    height: 50px;
}

.headerChild ul {
    justify-content: space-between;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

.headerChild li {
    float: left;
    padding-right: 30px;
    align-items: center;
    
}

#welcome {
    height: 330px;
    margin-bottom: 45px;
    background-image: url("1_TckFXfkU_bg0aADPYR_t7Q.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}


.welcome_b {
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
    margin-left: 50px;
}

.welcome3 {
font-size: 15px;
border: 1px black solid;
border-radius: 6%;
width: 100px;
height: 35px;
text-align: center;
line-height: 35px;
color: white;
background-color: black;
}

.welcome4 {
margin-left: 10px;
font-size: 15px;
border: 1px black solid;
border-radius: 6%;
width: 100px;
height: 35px;
text-align: center;
line-height: 35px;
color: #7c7c7c;
}

#articleList {
    margin: left;
    width: 63%;
}

.memberArticle {
    margin: left;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.featured_bottom {
    display:flex;
    justify-content: flex-start;
}

.bottom_article {
    height: 350px;
    width: 31%;
}

#bottom_page {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1050px;
}

.welcome1 {
    margin: 40px;
    padding-top: 50px;
    margin: left;
    width: 40%;
    font-size: 42px;
}

.welcome2 {
    margin: -30px 40px;
    margin: left;
    width: 45%;
    font-size:19px;
    color: #585c5a;
}

#popular {
    margin: right;
    width: 30%;
    height: 500px;
    position: sticky;
    top: 40px;
}

.popular_title {
    font-size:23px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.p_articles {
    height: 130px;
    margin-left: 80px;
    margin-top: 10px;
    display: flex;
}

.p_title {
    margin-top: 0px;
    font-size: 19px;
}

.p_date {
    color: grey;
}

.enumeration {
    margin-left: -70px;
    padding-right: 30px;
    font-size:30px;
    color: grey;
    margin: left;
    width: 20%;
}

.popular_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #d8d8d8;
    color: grey;
}

.popular_footer2 {
    display: flex;
    justify-content: space-around;
    padding-right: 130px;
    margin-top: -20px;
    color: grey;
}

.popular_articles {
    margin-bottom: 50px;
    border-top: 1px solid #d8d8d8;
    padding-top:10px;
}

.a_title {
    font-size:22px;
    color: black;
    margin-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
}

.b_title {
    font-size: 16px;
    margin-bottom:25px;
    color: grey;
}

.memberarticle_title {
    font-size: 24px;
    margin-right: 190px;
}

.memberarticle_description {
    color:grey;
    margin-top: 10px;
    margin-right: 190px;
}

.memberarticle_author {
    margin-top: 15px;
}

.memberarticle_date {
    color: grey;
}

.member {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 160px;
    
}

.bottom_title {
    margin-top: 30px;
}

.featured_title {
    margin-bottom: 10px;
}

.featured_image {
    background-size: contain;
    background-repeat: no-repeat;
    height: 290px;
    width: 200px;
    border-radius: 5px 5px;
}

.featured_count {
    color: grey;
}

h1 {
    text-align: center;
}

#divider {
    border-bottom: 1px solid #d8d8d8;
    max-width: 1100px;
    margin: auto;
}

.more {
    text-align: right;
    color: grey;
    font-size: 15px;
    
    position: relative;
    bottom: 19px;
}


/* Media Queries */




@media(max-width: 1224px) {
    #wrapper,
    #whole {
        margin: auto;
        width: 100%;
    }

    #featured {
        margin: auto;
        width: 100%;
        grid-template-columns: 35% 35% 1fr;
    }

    .featured_article_title1 {
        margin-left: 10px;
    }
    
    .featured_article_desciption1 {
        margin-left: 10px;
    }
    
    .featured_article_author1 {
        margin-left: 10px;
    }
    
    .featured_article_date {
        margin-left: 10px;
    }

    .featured1 {
        width: 100%;

    }

    .featured1_group {
        text-align: left;
    }

    #bottom_wrapper {
        margin: auto;
        width: 100%;
    }

    
}

@media(max-width: 1032px) {
    .get_s {
        justify-content: flex-end;
    }

    .featured5 {
        display: none;
    }


    #featured {
        height: 400px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 45% 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 10px;
        border-bottom: grey;
    }

    .featured1 {
        background-size: cover;
        position: relative;
        width: 100%;
        
    }

    .featured_article_title1,
    .featured_article_desciption1,
    .featured_article_author1,
    .featured_article_date {
        margin-left: 20px;
    }

    .featured1_group {
        padding-top: 35px;
    }

    .featured_8 {
        text-align: left;
        margin-left: 20px;
    }
    
    #welcome {
        height: 380px;
        background-size: 40%;
    }

    
}

@media(max-width: 970px) {
    #welcome {
        height: 390px;
    }
}

@media(max-width: 855px) {
    #popular {
        display: none;
    }

    #bottom_page {
        margin:auto;
        width: 100%;
    }

    .member {
        background-size: 140px;
    }

    #articleList {
        margin: auto;
        width: 100%;
    }

    
}

@media(max-width: 768px) {
    #whole {
        margin: auto;
        width: 100%;
    }

    

    #welcome {
        height: 240px;
        background-image: none;
    }

    .welcome1 {
        width: 85%;
        font-size: 28px;
    }

    #bottom_wrapper {
        height: 290px;
        margin-bottom: 40px;
    }

    .welcome2 {
        width: 90%;
        font-size: 20px;
    }

    .welcome_b {
        margin-top: 35px;
    }

    
    .member_top, .get_i{
        display: none;
    }

    #header {
        display: flex;
    }

     .h1 {
        justify-content: flex-start;
    }

    .get_b {
        padding:7px;width:30px;
        font-size:13px;color:gray;
        background-image:url('http://i47.tinypic.com/r02vbq.png');
        background-repeat:no-repeat;
        outline:0;
        line-height: 35px;
        justify-content: flex-end;
    }

    

    .memberarticle_title {
        font-size: 18px;
    }

    .a_title {
        font-size: 20px;
    }

    .featured_article_title1 {
        font-size: 21px;
    }

    .featured_article_desciption1,
    .featured_article_author1,
    .featured_article_date {
        font-size: 16px;
    }

    #featuredCollections {
        margin-top: 40px;
        width: 100%;
    }

    .featured_bottom {
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .bottom_article {
        margin-right: 30px;
    }
}


@media(max-width: 675px) {

    #featured {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .featured2,
    .featured3,
    .featured4 {
        flex-direction: row-reverse;
    }

    .featured2_text {
        width: 90%;
    }

    #divider {
        display: none;
    }

    #welcome {
        background-image: none;
    }

    
    #bottom_wrapper {
        display: block;

    }
    
    .featured_8 {
        display: block;
        padding-top: 60px;
    }

    #featuredCollections {
        position: relative;
    }

    .bottom_article {
    padding-right: 20px;    
    }

    
    
}


@media(max-width: 503px) {
    .member {
        background-size: 90px;
    }

    #featuredCollections {
        margin-top: 80px;
    }
}