*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 46, 46);
}

#whole {
    width: 100%;
    background-color: rgb(70, 93, 184);
}

#header {
    width: 800px;
}

#title{
    font-size: 22px;
    color: white;
}

#rgb{
    color: white;
    font-size: 40px;
}

#options-bar{
    background-color: rgb(255, 255, 255);
}

#options {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 20px;
    width: 800px;
}

.reset{
    color: rgb(70, 93, 184);
}

.selected{
    color: white;
    background-color: rgb(70, 93, 184);
}

button{
    border: none;
    background: none;
	color: rgb(70, 93, 184);;
}

button:hover{
    color: white;
	background-color: rgb(70, 93, 184);;
}

#modes {
    display: flex;
    justify-content: space-between;
}

.modes1 {
    margin-right: 20px;
}

.modes2{
    padding: 0 15px;
}

#bottom{
    width: 100%;
    height: 720px;
}

#bottom_body{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 30px;
    padding-top: 20px;
}

.box{
    height: 180px;
    width: 180px;
    border-radius: 25px;
}

#box1{
    grid-column: 1/1;
    grid-row: 1/1;
}

#box2{
    grid-column: 2/2;
    grid-row: 1/1;
}

#box3{
    grid-column: 3/3;
    grid-row: 1/1;
}

#box4{
    grid-column: 1/1;
    grid-row: 2/2;
}

#box5{
    grid-column: 2/2;
    grid-row: 2/2;
}

#box6{
    grid-column: 3/3;
    grid-row: 2/2;
}