@font-face { 
    font-family: "Raleway"; 
    src: url('Raleway-Medium.ttf')
}

h1 {
    font-family: "Raleway";
}

#whole {
    margin: auto;
    width: 1280px;;
}

#header {
    margin-left: 40px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 40px;
}

.one {
    width: 400px;
    height: 400px;
}

.one img {
    width: 100%;
    height: auto;
}