@font-face { 
    font-family: "Raleway"; 
    src: url('Raleway-Medium.ttf')
}

h1 {
    font-family: "Raleway";
}

.img1_src {
    background-image: url("img1.jpg");
}

.img2_src {
    background-image: url("img2.jpg");
}

.img3_src {
    background-image: url("img3.jpg");
}

.img4_src {
    background-image: url("img4.jpg");
}

.img5_src {
    background-image: url("img5.jpg");
}

.img6_src {
    background-image: url("img6.jpg");
}

.img7_src {
    background-image: url("img7.jpg");
}

.img8_src {
    background-image: url("img8.jpg");
}

.img9_src {
    background-image: url("img9.jpg");
}

#whole_page {
    margin: auto;
    width: 100%;
}

.grid_box {
    display: inline-block;
    width: 30%;
    height: 500px;
    border: solid 1px black;
    margin: 20px;
}

.row_spacing {
    top: 40px;
}

.background {
    background-size: cover;
}

.image_dimension {
    height:100%;
    
}

#image_grid1 {
    margin: auto;
    
}