@font-face { 
    font-family: "Raleway"; 
    src: url('Raleway-Medium.ttf')
}

h1 {
    font-family: "Raleway";
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 1280px;
    grid-gap: 40px;
}

.one {
    width: 400px;
    height: 400px;
}

.one img {
    width: 100%;
    height: auto;
}

#header {
    margin-left: 150px;
}