td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.one {
border-left: white;
border-top: white;
}

.two {
    border-top: white;
}

.three {
    border-top:white;
    border-right: white;
}

.four {
    border-left: white;
}

.six {
    border-right: white;
}

.seven {
    border-left: white;
    border-bottom: white;
}

.eight {
    border-bottom: white;
}

.nine {
    border-bottom: white;
    border-right: white;
}

